section.page.home
  div(data-hook="error-container")
  //- grid content

  div.container
    div.row
      div.col-sm-8
        div.card.border-primary.mb-3
          h3.card-header.bg-primary.text-white(data-hook="outl-a.a")
          div.card-body
            p
              button.btn.btn-lg.btn-default(type="button" data-hook="paywithpaypal outl-a.b" disabled="disabled")
            p
              button.btn.btn-lg.btn-default(type="button" data-hook="paywithstripe outl-a.c" disabled="disabled")

      div.col-sm-4
        picture
          source(data-srcset="/images/rocks_64w.jpg 64w, /images/rocks_150w.jpg 150w" media="--small")
          source(data-srcset="/images/rocks_150w.jpg 150w, /images/rocks_300w.jpg 300w" media="--medium")
          source(data-srcset="/images/rocks_300w.jpg 300w")
          img.lazyload(data-src="holder.js/50px50p?theme=custom&text=&#xF030;&auto=yes" data-sizes="auto")

    div.row
      div.col-sm-8
        div(data-hook="paymentFlow")
      div.col-sm-4
        span.fas.fa-shopping-bag(aria-hidden="true")
        div(data-hook="charge-confirm")
