div.panel.panel-info
  div.panel-heading Your Order
    div.panel-body
      dl.dl-horizontal(data-hook="charge-data")
        div.panel-footer
          span Total:&nbsp;
          span(data-hook="confirm-total")
