div#flowPaypal(role="tablist")
  div.card
    div#stepOneHeading.card-header(role="tab")
      h4
        a.collapsed(data-hook="stepOne checkoutStep" role="button" data-toggle="collapse" href="#stepOne" aria-expanded="false" aria-controls="stepOne" data-parent="#flowPaypal") Step One
    div#stepOne.collapse(roles="tabpanel" aria-labelledby="stepOneHeading")
      div.card-body
        form(data-hook="payment-form")
          fieldset(data-hook="field-container")
          div.buttons
            button.btn(data-hook="reset" type="submit") Continue
  div.card
    div#stepTwoHeading.card-header(role="tab")
      h4
        a.collapsed(data-hook="stepTwo checkoutStep" role="button" data-toggle="collapse" href="#stepTwo" aria-expanded="false" aria-controls="stepTwo" data-parent="#flowPaypal") Step Two
    div#stepTwo.collapse(roles="tabpanel" aria-labelledby="stepTwoHeading")
      div.card-body
        div#pp-button-container(data-hook="pp-button-container")
        div
          span.fas.fa-paper-plane
  div.card
    div#endHeading.card-header(role="tab")
      h4
        a.collapsed(data-hook="end checkoutStep" role="button" data-toggle="collapse" href="#end" aria-expanded="false" aria-controls="end" data-parent="#flowPaypal") Final Payment Info
    div#end.collapse(roles="tabpanel" aria-labelledby="endHeading")
      div.card-body
        form(data-hook="payment-confirm")
          fieldset(data-hook="field-container")
          div.buttons
            button.btn(data-hook="reset" type="submit") Done
