div.row
  div.col-sm-8
    div#flowStripe.panel-group(role="tablist" aria-multiselectable="true")
      div.panel.panel-default
        div#stepOneHeading.panel-heading(role="tab")
          h4.panel-title
            a.collapsed(data-hook="stepOne checkoutStep" role="button" data-toggle="collapse" data-parent="#flowStripe" href="#stepOne" aria-expanded="false" aria-controls="stepOne") Step One
        div#stepOne.panel-collapse.collapse(roles="tabpanel" aria-labelledby="stepOneHeading")
          div.panel-body
            form(data-hook="payment-form")
              fieldset(data-hook="field-container")
              div
                label(for="card-element") Credit or Debit card
                div#card-element(data-hook="card-element")
                div(data-hook="card-errors")
              div
                hr
              div.buttons
                button.btn(data-hook="reset" type="submit") Continue
      div.panel.panel-default
        div#stepTwoHeading.panel-heading(role="tab")
          h4.panel-title
            a.collapsed(data-hook="stepTwo checkoutStep" role="button" data-toggle="collapse" data-parent="#flowStripe" href="#stepTwo" aria-expanded="false" aria-controls="stepTwo") Step Two
        div#stepTwo.panel-collapse.collapse(roles="tabpanel" aria-labelledby="stepTwoHeading")
          div.panel-body
            button.btn(data-hook="stripebutton") Stripe Pay
            div
              span.glyphicon.glyphicon-send
      div.panel.panel-default
        div#endHeading.panel-heading(role="tab")
          h4.panel-title
            a.collapsed(data-hook="end checkoutStep" role="button" data-toggle="collapse" data-parent="#flowStripe" href="#end" aria-expanded="false" aria-controls="end") Final Payment Info
        div#end.panel-collapse.collapse(roles="tabpanel" aria-labelledby="endHeading")
          div.panel-body
            form(data-hook="payment-confirm")
              fieldset(data-hook="field-container")
              div.buttons
                button.btn(data-hook="reset" type="submit") Done

  div.col-sm-4
    span.glyphicon.glyphicon-piggy-bank(aria-hidden="true")
