body
  div
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          p.navbar-brand Wind Upon The Water Checkout Flows
    div
      main(data-hook="page-container")
    footer.footer-main
      p &copy; 2017&nbsp;
        a(href="https://winduponthewater.com/muk/") mizuuenikaze inc.
